body {
  padding: 0;
  margin: 0;
  background-color: #eee;
  font-family: Roboto, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #444;
}

.header {
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  /* font-family: 'Cedarville Cursive', cursive; */
  font-size: 48px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls {
  height: 600px;
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

button {
  flex: 0 0 auto;
  border-radius: 8px;
  border: none;
  width: 100px;
  height: 50px;
  background-color: #d7d7d7;
  cursor: pointer;
}

button:hover {
  background-color: #777;
  color: #fff;
}

button:active {
  background-color: #444;
  color: #fff;
}

.color-picker {
  display: none;
}

.color-picker-mask {
  box-sizing: border-box;
  border: 8px solid #eee;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  cursor: pointer;
  display: block;
}

.color-picker-mask:hover {
  border: none;
}

/* The slider itself */
.slider {
  flex: 0 0 auto;
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 160px; /* Full-width */
  height: 8px; /* Specified height */
  background: #d7d7d7; /* Grey background */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  border-radius: 4px;
  width: 25px;
  height: 25px;
  background: #d7d7d7;
  cursor: pointer; 
}

.slider::-webkit-slider-thumb:hover {
  background-color: #777;
}

.slider::-webkit-slider-thumb:active {
  background-color: #444;
}

.slider::-moz-range-thumb {
  border-radius: 4px;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #d7d7d7; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb:hover {
  background-color: #777;
}

.slider::-moz-range-thumb:active {
  background-color: #444;
}

.size-indicator {
  margin: -8px 0 0 0;
  padding: 0;
}

.grid {
  flex: 0 0 auto;
  background-color: #fff;
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
}

.grid-cell {
  flex: 0 0 auto;
  box-sizing: border-box;
  border: 1px solid #eee;
}

.active {
  background-color: #444;
  border: none;
}

.right-margin {
  flex: 1 1 200px;
}

@media screen and (max-width: 900px) {
  .grid {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 600px) {
  .grid {
    width: 300px;
    height: 300px;
  }
}